VITE_SUPABASE_URL=https://aioadszqatkuexxkltvr.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_XxScunGdJ5x-6c_5RtxMuw_pY0S-59R
VITE_SUPABASE_MAGAZINE_BUCKET=magazines
VITE_SUPABASE_EXECUTIVE_BUCKET=executives
